<h1>
	<%= @article.title %>
</h1>
<% unless @article.user.nil? %>
<p>
	Escrito por: <%= @article.user.name %>
</p>
<%end %>
<p>
	Visitas: <%= @article.visits_count %>
</p>
<div>
	<%= @article.body%>
</div>
<div class="field">
	<h3>Comentarios</h3>

	<%= render 'comments/form' %>
</div>
<DIV>
	<% @article.comments.each do |comment| %>
	<ul>
		<li>
			<%= comment.body %> 
		</li>	
	</ul>
	<% end %>
</DIV>
<div>
	<%= link_to "Editar", edit_article_path(@article) %> 
</div>
<div>
	
</div>
<div>
	<%= link_to "Regresar", articles_path %> 
</div>