<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<HEADER>
		<NAV class = "be-red white large-padding">
			<ul class = "no-list row center-xs middle-xs">
				<li class="no-margin" id="logo">
					<H1>Blog Facilito</H1>
				</li>			
				<li class="col-md">
					<%= link_to "Inicio", root_path %>
				</li>
				<li class="col-md">
					Diseño
				</li>	
				<li class="col-md">
					Programación
				</li>
				<li class="col-md">
					Tecnología
				</li>				
			</ul>
		</NAV>
	</HEADER>

<%= yield %>

</body>
</html>
